body {
  font-family: "Work Sans", sans-serif;
  background: #0b435b;
  color: #f7f7f3;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #f7f7f3;
}

.nav-bar,
.intro {
  margin: 0 auto;
  padding: 24px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  min-width: 0;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.intro-info {
  padding: 0 16px;
  max-width: 400px;
  width: 100%;
}

.logo {
  width: 150px;
  height: auto;
}

.productivity-img {
  max-width: 480px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
}

.start {
  color: #0b435b;
  background-color: #f7f7f3;
  border-radius: 8px;
  border: none;
  padding: 6px 12px;
  font-weight: 800;
}

.main-content {
  background-color: #f7f7f3;
  color: #4b3c2e;
  text-align: center;
  padding-top: 20px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  padding: 20px 80px;
}

.image {
  width: 80px;
}

.card {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.quote-wrapper {
  background-color: #e2e3d5;
  padding: 40px 120px;
}

.quote {
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

.quote-author {
  font-weight: 600;
  text-align: right;
  padding-right: 20px;
}

.cta-wrapper {
  background-color: #12719a;
  color: #f7f7f3;
  border: solid #f7f7f3 60px;
  display: flex;
  flex-flow: row wrap;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cta {
  flex: 1;
  text-align: left;
}

.cta-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
}

.sign-up {
  background-color: #12719a;
  color: #f7f7f3;
  font-weight: 600;
  border: solid #f7f7f3 2px;
  border-radius: 10px;
  font-size: 16px;
  height: 40px;
  padding: 0 20px;
}

.sign-up:hover {
  background-color: #f7f7f3;
  color: #12719a;
}
